<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- header-->
  <header class="nav navbar-inverse">
    <div class="container">
      <div class="row">
      <div class="navbar-brand">
        <p style="color:white">Bookers</p>
      </div>

      <% if user_signed_in? %>
        <!-- sign in済み -->
        <nav class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to user_path(current_user.id) do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</spab>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
              <% end %>
            </li>
            <li>
              <%= link_to books_path do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
              <% end %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</span>
              <% end %>
            </li>
          </ul>
        </nav>
      <% else %>
        <!-- sign inしていない -->
        <nav class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path do %>
              <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"> sign up</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span>
              <% end %>
            </li>
          </ul>
        </nav>
      <% end %>
    </div>
   </div>
  </header>


  <body>
    <%= yield %>
  </body>

  <footer class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
       CopyRight Infratop.inc
      </div>
    </div>
  </footer>
</html>
